<!doctype html>
<html>
<head>
<title>DataURI and Dynamic CSS</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="http://www.w3.org/StyleSheets/Core/Steely" type="text/css">
<link rel="stylesheet" href="../static/style.css" type="text/css">
</head>
<body>

<div id="o">
    <h1>DataURI and Dynamic CSS</h1>
    <p class="des">Select an icon color. Read the article &mdash; <a href="http://brajeshwar.com/2010/dynamic-css-and-datauri-to-the-rescue/">DataURI and Dynamic CSS</a> for explanation.</p>
    <div id="content">
        <div id="lt">
            <ul>
            	<li><a href="/">First Set</a></li>
            	<li><a href="/more/">Second Set</a></li>
            </ul>
        </div>
        <div id="rt">
            <ul id="first">
            	<li class="img ico_01" imgID="01">Add</li>
            	<li class="img ico_02" imgID="02">Arrow Down Left</li>
            	<li class="img ico_03" imgID="03">Arrow Down</li>
            	<li class="img ico_04" imgID="04">Arrow Down Right</li>
            	<li class="img ico_05" imgID="05">Arrow Left</li>
            	<li class="img ico_06" imgID="06">Arrow Right</li>
            	<li class="img ico_07" imgID="07">Arrow Up Left</li>
            	<li class="img ico_08" imgID="08">Arrow Up</li>
            	<li class="img ico_09" imgID="09">Arrow Up Right</li>
            	<li class="img ico_10" imgID="10">Back</li>
            	<li class="img ico_11" imgID="11">Bargraph</li>
            	<li class="img ico_12" imgID="12">Bookmark</li>
            	<li class="img ico_13" imgID="13">Calculator</li>
            	<li class="img ico_14" imgID="14">Calendar</li>
            	<li class="img ico_15" imgID="15">Camera</li>
            	<li class="img ico_16" imgID="16">Check</li>
            	<li class="img ico_17" imgID="17">Clipboard</li>
            	<li class="img ico_18" imgID="18">Close</li>
            	<li class="img ico_19" imgID="19">Comment</li>
            	<li class="img ico_20" imgID="20">Copy Paste</li>
            </ul>
        </div>
    </div>
</div>
{% include 'scripts.html' %}
</body>
</html>
