<!doctype html>
<html>
<head>
<title>DataURI and Dynamic CSS</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="http://www.w3.org/StyleSheets/Core/Steely" type="text/css">
<link rel="stylesheet" href="../static/style.css" type="text/css">
</head>
<body>

<div id="o">
    <h1>DataURI and Dynamic CSS</h1>
    <p class="des">Select an icon color. Read the article &mdash; <a href="http://brajeshwar.com/2010/dynamic-css-and-datauri-to-the-rescue/">DataURI and Dynamic CSS</a> for explanation.</p>
    <div id="content">
        <div id="lt">
            <ul>
            	<li><a href="/">First Set</a></li>
            	<li><a href="/more/">Second Set</a></li>
            </ul>
        </div>
        <div id="rt">
            <ul id="second">
            	<li class="img ico_21" imgID="21">Add</li>
            	<li class="img ico_22" imgID="22">Arrow Down Left</li>
            	<li class="img ico_23" imgID="23">Arrow Down</li>
            	<li class="img ico_24" imgID="24">Arrow Down Right</li>
            	<li class="img ico_25" imgID="25">Arrow Left</li>
            	<li class="img ico_26" imgID="26">Arrow Right</li>
            	<li class="img ico_27" imgID="27">Arrow Up Left</li>
            	<li class="img ico_28" imgID="28">Arrow Up</li>
            	<li class="img ico_29" imgID="29">Arrow Up Right</li>
            	<li class="img ico_30" imgID="30">Back</li>
            	<li class="img ico_31" imgID="31">Bargraph</li>
            	<li class="img ico_32" imgID="32">Bookmark</li>
            	<li class="img ico_33" imgID="33">Calculator</li>
            	<li class="img ico_34" imgID="34">Calendar</li>
            	<li class="img ico_35" imgID="35">Camera</li>
            	<li class="img ico_36" imgID="36">Check</li>
            	<li class="img ico_37" imgID="37">Clipboard</li>
            	<li class="img ico_38" imgID="38">Close</li>
            	<li class="img ico_39" imgID="39">Comment</li>
            	<li class="img ico_40" imgID="40">Copy Paste</li>
            </ul>
        </div>
    </div>
</div>
{% include 'scripts.html' %}
</body>
</html>
